<!doctype html>
<html lang="en" id="ng-app" ng-app="artbookApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Artbook</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script type="text/javascript" src="js/angular/controllers/controllers.js"></script>
    <script type="text/javascript" src="js/products/ng-infinite-scroll.min.js"></script>
    <script type="text/javascript" src="js/jquery.superfish.js"></script>
    <script type="text/javascript" src="js/jquery.easing.js"></script>
    <script type="text/javascript" src="js/jquery.scripts.js"></script>
</head>

<body ng-controller="ArtbookAboutCtrl">
<div id="wrap">
    <div class="top_corner"></div>
    <div id="main_container">
    
        <div id="header">
            <div id="logo"><a href="index.html"><img src="images/logo.gif" alt="" title="" border="0"/></a></div>
            <div id="languageBar" ng-controller="LanguageCtrl">
                <a href="" ng-click="onLanguageChange('RO')"><img src="images/roflag.png"></a>
                <a href="" ng-click="onLanguageChange('EN')"><img src="images/enflag.png"></a>
            </div>
            <nav id="main_nav">
                <div id="menu">
                    <ul>
                        <li ng-repeat="menuLink in menuLinks">
                            <a ng-class="{'current': menuLink.isCurrent}" ng-href="{{menuLink.URL}}"
                               ng-bind="menuLink.Name"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
          
        <div class="center_content_pages">
        
        
        <div class="left_content">
        
        	<div class="left_block_menu">
            	<h2>About Us</h2>
                <img src="images/pic.jpg" alt="" title="" border="0" class="pic" />
            	<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>            
            </div>
            
            <div class="left_block">
            	<h2>Why we are different </h2>
                <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
<br /><br />
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                </p>
            </div>
            
            
            <div class="block_wide">
                <h2>Our imagination </h2>
                
                <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
<br /><br />
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                </p>

            
            
            </div>
        
        
        </div>
        
        
            <div class="right_block">
            	<h2>Latest news</h2>
                
                <div class="home_news">
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit</a>
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit , consectetur adipisicing elit adipisicing elit</a>
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                </div>

                
                
            </div>
            
            
			<div class="wide_content">
            	<h2>Terms &amp; Conditions</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>            
            </div> 
            
   
        
        <div class="clear"></div>
        </div>

        <div ng-include="'views/footer.html'"></div>
    </div>
</div>
</body>
</html>
